<template>
  <div>
    <Editor :post="post" />
  </div>
</template>

<script>
import Editor from "@/components/Editor.vue";
import { mapState } from "vuex";
import { getPost } from "@/api";

export default {
  components: {
    Editor
  },
  created() {
    if (this.posts.length > 0) {
      this.post = this.getFetchedPostById;
    } else {
      getPost(this.$route.params.postid).then(post => {
        this.post = post;
      });
    }
  },
  data() {
    return {
      post: {}
    };
  },
  computed: {
    ...mapState({
      posts: state => state.posts
    }),
    getFetchedPostById() {
      return this.$store.getters.getFetchedPostById(this.$route.params.postid);
    }
  },
  methods: {
    titleInput({ target }) {
      this.$set(this.newdata, "title", target.innerHTML);
    },
    descriptionInput({ target }) {
      this.$set(this.newdata, "description", target.innerHTML);
    }
  }
};
</script>
