<template>
  <div class="home">
    <div class="o-postlist-wrapper" v-if="!loading">
      <ul>
        <li :key="post.id" v-for="post in posts">
          <Post @delete="confirmDeletion" :post="post" />
        </li>
      </ul>
      <div class="container o-pagination-wrapper" v-if="totalCount > 10">
        <b-pagination
          :total="totalCount"
          v-model="page"
          :size="paginationSize"
          :order="buttonsOrder"
          :per-page="perPage"
          icon-prev="chevron-left"
          icon-next="chevron-right"
          aria-next-label="Next page"
          aria-previous-label="Previous page"
          aria-page-label="Page"
          aria-current-label="Current page"
        >
          <b-pagination-button
            slot-scope="props"
            :page="props.page"
            :id="`page${props.page.number}`"
            tag="router-link"
            :to="`/${props.page.number}`"
          >
            {{ props.page.number }}
          </b-pagination-button>

          <b-pagination-button
            slot="previous"
            slot-scope="props"
            :page="props.page"
            tag="router-link"
            :to="`/${props.page.number}`"
          >
            Previous
          </b-pagination-button>

          <b-pagination-button
            slot="next"
            slot-scope="props"
            :page="props.page"
            tag="router-link"
            :to="`/${props.page.number}`"
          >
            Next
          </b-pagination-button>
        </b-pagination>
      </div>
    </div>
    <div v-else>
      loading...
    </div>
  </div>
</template>

<style scoped>
.home {
  height: 100%;
}
.o-postlist-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}
ul {
  width: 100%;
  height: auto;
  flex-grow: 1;
  max-width: 500px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  ul {
    max-width: 640px;
  }
}
@media (min-width: 1024px) {
  ul {
    max-width: 800px;
  }
}
li:not(:first-of-type) {
  margin-top: 1rem;
}
.o-pagination-wrapper {
  width: 100%;
  margin-top: 2rem;
  padding-bottom: 2rem;
  flex-shrink: 0;
  flex-grow: 0;
}
</style>

<script>
import Post from "@/components/Post.vue";
import { mapState } from "vuex";
import { deletePost } from "@/api";
export default {
  name: "Home",
  components: {
    Post
  },
  data() {
    return {
      paginationSize: "",
      buttonsOrder: "",
      perPage: 10,
      loading: false
    };
  },
  created() {
    this.getPosts();
  },
  computed: {
    ...mapState({
      posts: state => state.posts,
      totalCount: state => state.totalCount
    }),
    page() {
      return Number(this.$route.params.page) || 1;
    }
  },
  watch: {
    page() {
      this.getPosts();
    }
  },
  methods: {
    getPosts() {
      this.loading = true;
      this.$store.dispatch("getPosts", this.page).then(() => {
        this.loading = false;
      });
    },
    confirmDeletion(id) {
      this.$buefy.dialog.confirm({
        message: "delete this post?",
        onConfirm: () => {
          deletePost(id).then(() => {
            this.getPosts();
            this.$buefy.toast.open("post deleted");
          });
        }
      });
    }
  }
};
</script>
