<template>
  <form @submit.prevent="submit" class="login">
    <b-field label="Email" :type="emailType" :message="emailMessage">
      <b-input
        @input.native="removeMessages"
        required
        type="email"
        v-model="email"
      >
      </b-input>
    </b-field>

    <b-field :type="passwordType" label="Password" :message="passwordMessage">
      <b-input
        @input.native="removeMessages"
        validation-message="password must contain at least 1 lowercase, uppercase, numeric characters and eight characters of longer"
        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
        required
        type="password"
        v-model="password"
        password-reveal
      >
      </b-input>
    </b-field>
    <b-button native-type="submit" type="is-primary">Login</b-button>
  </form>
</template>

<style scoped>
.login {
  max-width: 500px;
  margin: 0 auto;
}
</style>

<script>
import { ERROR_MESSAGE } from "@/constants";

export default {
  data() {
    return {
      email: "",
      password: "",
      emailMessage: "",
      emailType: "",
      passwordMessage: "",
      passwordType: "",
      loading: false
    };
  },
  methods: {
    login() {
      this.loading = true;
      this.$auth
        .login(this.email, this.password)
        .then(user => {
          this.passwordMessage = "";
          this.passwordType = "";
          this.emailType = "";
          this.emailMessage = "";

          this.loading = false;
          this.$store.commit("setUser", user);
          this.$router.push({ name: "Home" });
        })
        .catch(e => {
          this.loading = false;

          if (e.message === ERROR_MESSAGE.EMAIL) {
            this.emailMessage = e.message;
            this.emailType = "is-danger";
          } else if (e.message === ERROR_MESSAGE.PASSWORD) {
            this.passwordMessage = e.message;
            this.passwordType = "is-danger";
          }
        });
    },
    submit() {
      console.log("this store", this.$store);
      this.login();
    },
    removeMessages({ target }) {
      if (target.getAttribute("type") === "email") {
        this.emailType = "";
        this.emailMessage = "";
      } else if (target.getAttribute("type") === "password") {
        this.passwordMessage = "";
        this.passwordType = "";
      }
    }
  }
};
</script>
