<template>
  <div class="c-edit">
    <h1
      v-html="initpost.title"
      class="title"
      @input="titleInput"
      contenteditable="true"
    ></h1>
    <div
      v-html="initpost.description"
      @input="descriptionInput"
      contenteditable="true"
    ></div>
    <div class="buttons u-mt--16">
      <b-button type="is-success" @click="save">
        save
      </b-button>
    </div>
  </div>
</template>

<style scoped>
h1:focus {
  border: 1px solid var(--primary);
}
h1 {
  padding: 0.3rem;
}
div {
  padding: 0.3rem;
}
div:focus {
  border: 1px solid var(--primary);
}
.c-edit {
  max-width: 750px;
  margin: 0 auto;
}
.u-mt--16 {
  margin-top: 1rem;
}
</style>

<script>
import { updatePost as apiUpdatePost, createNewPost } from "@/api";
export default {
  props: {
    post: Object
  },
  data() {
    return {
      initpost: {
        title: this.post ? this.post.title : "Title",
        description: this.post ? this.post.description : "description"
      },
      newpost: {}
    };
  },
  watch: {
    post() {
      this.initpost = {
        title: this.post ? this.post.title : "Title",
        description: this.post ? this.post.description : "description"
      };
    }
  },
  methods: {
    titleInput({ target }) {
      this.$set(this.newpost, "title", target.innerHTML);
    },
    descriptionInput({ target }) {
      this.$set(this.newpost, "description", target.innerHTML);
    },
    async updatePost(post) {
      post.updateAt = new Date();
      await apiUpdatePost(post, this.post.id);
    },
    async pushNewPost() {
      if (!Object.prototype.hasOwnProperty.call(this.newpost, "title")) {
        this.newpost.title = this.initpost.title;
      }
      if (!Object.prototype.hasOwnProperty.call(this.newpost, "description")) {
        this.newpost.description = this.initpost.description;
      }

      this.newpost.createdAt = new Date();
      this.newpost.updateAt = new Date();
      this.newpost.userId = this.$store.state.user.id;
      this.newpost.claps = 0;

      await createNewPost(this.newpost);
    },
    async save() {
      if (this.post) {
        if (this.newpost.title || this.newpost.description) {
          await this.updatePost(this.newpost);
        }
      } else {
        await this.pushNewPost();
      }
      this.$router.push({ name: "Home" });
    }
  }
};
</script>
