<template>
  <header class="container" id="nav">
    <b-navbar mobile-burger="">
      <template slot="brand">
        <b-navbar-item tag="router-link" to="/">
          Posts
        </b-navbar-item>
      </template>
      <template slot="end">
        <b-navbar-item tag="div">
          <div class="buttons">
            <router-link
              class="button"
              v-if="user && user.role === 'writer'"
              :to="{ name: 'NewPost' }"
            >
              New post
            </router-link>
            <router-link v-if="!user" :to="{ name: 'Login' }">
              Login
            </router-link>
            <b-button
              @click="logout"
              v-if="user"
              class="u-ml--8 button is-light"
            >
              Logout
            </b-button>
          </div>
        </b-navbar-item>
      </template>
    </b-navbar>
  </header>
</template>

<style>
header {
  padding: 1rem;
}
.c-link:not(:first-of-type) {
  margin-left: 1rem;
}
.u-ml--8 {
  margin-left: 0.5rem;
}
</style>

<script>
import { mapState } from "vuex";

export default {
  computed: {
    ...mapState({
      user: state => state.user
    })
  },
  methods: {
    logout() {
      this.$auth.logout();
      window.location.reload();
    }
  }
};
</script>
