<template>
  <div class="card">
    <div class="card-content">
      <h2 class="title">{{ post.title }}</h2>
      <div class="c-content">
        <div class="c-content__description">{{ post.description }}</div>
        <div class="c-content__meta">
          <time class="" :datetime="post.createdAt">{{ createdAt }}</time>
        </div>
      </div>
    </div>
    <div class="c-buttons">
      <div>
        <router-link
          v-if="canIEdit"
          :to="{ name: 'Edit', params: { postid: post.id } }"
          class="is-link button"
        >
          edit ✍️
        </router-link>
        <b-button
          @click="deletePost"
          v-if="canIEdit"
          class="u-h-full u-ml--8 is-light"
        >
          delete 🗑️
        </b-button>
      </div>
      <b-button @click="clap" v-if="canIClap" class="u-h-full is-primary">
        {{ post.claps }} {{ pluralize("clap", post.claps) }} 👏
      </b-button>
      <span class="c-claps-text u-ml--8" v-else>
        {{ post.claps }} {{ pluralize("clap", post.claps) }} 👏
      </span>
    </div>
  </div>
</template>

<style scoped>
.u-ml--8 {
  margin-left: 0.5rem;
}
.u-h-full {
  height: 100%;
}
.c-content__meta {
  margin-top: 0.5rem;
}
time {
  color: var(--gray-500);
}
.c-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
</style>

<script>
import { mapState } from "vuex";
import { updatePost } from "@/api";

export default {
  name: "Home",
  props: {
    post: Object
  },
  data() {
    return {
      createdAt: new Intl.DateTimeFormat("en-GB").format(
        new Date(this.post.createdAt)
      )
    };
  },
  computed: {
    ...mapState({
      user: state => state.user
    }),
    canIEdit() {
      return (
        this.user &&
        this.user.role === "writer" &&
        this.user.id === this.post.userId
      );
    },
    canIClap() {
      return this.user && this.user.role === "reader";
    }
  },
  methods: {
    pluralize(word, val) {
      return val > 1 ? word + "s" : word;
    },
    deletePost() {
      this.$emit("delete", this.post.id);
    },
    async clap() {
      console.log("clap", this.post.claps);
      this.post.claps += 1;
      const res = await updatePost(this.post, this.post.id);
      if (res.ok) {
        this.$store.commit("setPostById", {
          id: this.post.id,
          post: this.post
        });
      }
    }
  }
};
</script>
