<template>
  <div id="app">
    <Header />
    <main class="container">
      <router-view />
    </main>
  </div>
</template>

<style>
:root {
  --gray-500: hsl(0, 0%, 70%);
  --primary: #714dd2;
}
html,
body,
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100%;
}
main {
  margin-top: 1rem;
  padding: 1rem;
  height: calc(100% - 88px);
}
@media (min-width: 768px) {
  main {
    margin-top: 1rem;
    padding: 2rem 1rem;
  }
}
</style>

<script>
import Header from "@/components/Header.vue";

export default {
  components: {
    Header
  },
  created() {
    const user = JSON.parse(localStorage.getItem("user"));
    if (user) {
      this.$store.commit("setUser", user);
    }
  }
};
</script>
